.card-list{
  display: grid;
  padding-left: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(200px, auto);
  margin-left: 30px;
  margin-right: 30px;
}