.card-list-item{

  position: relative;
  border: 1px solid black;
  list-style: none;
}
.list-img{
  width: 100%;
}
.list-item-text{
  font-family: "Times New Roman";
  padding-left: 20px;
}

.item-favourite{
  position: absolute;
  bottom: 0;
  right: 10px;

  font-size: 30px;
}
.active {
  color: darkorange;
}